@model ProductUpdateViewModel

@section Styles{ 
    <style>
        .productImage {
            width: 120px !important;
            height: 120px !important;
            object-fit: contain;
        }
    </style>
}

<div class="row col-sm-6">
    <div class="col-sm-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> Create category</h4>
                <form class="forms-sample" method="post" asp-action="Update" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name" class="form-control" placeholder="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description">Description</label>
                        <input asp-for="Description" class="form-control" placeholder="Description">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="RemovedImagesIds"/>
                    <div class="form-group">
                        <label asp-for="Brand">Brand</label>
                        <input asp-for="Brand" class="form-control" placeholder="Brand">
                        <span asp-validation-for="Brand" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ExTax">ExTax</label>
                        <input asp-for="ExTax" class="form-control" placeholder="ExTax">
                        <span asp-validation-for="ExTax" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Rate">Rate</label>
                        <input asp-for="Rate" class="form-control" placeholder="Rate">
                        <span asp-validation-for="Rate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Discount">Discount</label>
                        <input asp-for="Discount" class="form-control" placeholder="Discount">
                        <span asp-validation-for="Discount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price">Price</label>
                        <input asp-for="Price" class="form-control" placeholder="Price">
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Images">Images</label>
                        <input asp-for="Images" class="form-control" placeholder="Images" accept="image/*">
                        <span asp-validation-for="Images" class="text-danger"></span>
                    </div>
                    <div class="imagesTabe">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var productImage in Model.ProductImages)
                                {
                                    <tr>
                                        <td>
                                            <img class="productImage" src="~/assets/images/product/@productImage.Name" />
                                        </td>
                                        <td>
                                            <button class="btn btn-danger removeProductImage" data-id="@productImage.Id">
                                                Remove
                                            </button>
                                        </td>
                                     </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <label asp-for="ParentCategoryId">Category</label>
                        <select asp-for="ParentCategoryId" asp-items="Model.ParentCatigories" id="parentCategory" class="form-control" placeholder="Parent kateqori secin"></select>
                        <span asp-validation-for="ParentCategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ChildCategoryId">Sub Category</label>
                        <select asp-for="ChildCategoryId" asp-items="Model.ChildCatigories" id="childCategory" class="form-control" placeholder="Alt kateqori secin"></select>
                        <span asp-validation-for="ChildCategoryId" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light" asp-action="Index">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        const removeSelectedImage = (ev) => ev.target.closest("tr").remove();

        $(document).ready(function () {
            const showImage = (image) => {
                const imageList = $("tbody");
                const reader = new FileReader();

                reader.readAsDataURL(image);
                reader.addEventListener('load', (e) => {
                    imageList.append(`
                         <tr>
                            <td>
                                <img class="productImage" src="${e.target.result}" alt="${image.name}">
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger selectedProductImage" onClick="removeSelectedImage(event)">
                                    Remove
                                </button>
                            </td>
                        </tr>
                    `)
                });
            };

            const productImages = document.getElementById("Images");

            productImages.addEventListener("change", function(e){
                const files = e.target.files;

                for (let i = 0; i < files.length; i++) {
                    if (!files[i].type.match("image")) continue;
                    showImage(files[i]);
                }
            })

            let removedImagesIds = [];

            $(".removeProductImage").on("click", function(){
                let imageId = $(this).attr("data-id");
                removedImagesIds.push(imageId);
                $(this).attr('disabled', 'disabled')
                $("input[name=RemovedImagesIds]").val(removedImagesIds.join(', '));
            })


            $("#parentCategory").change(function () {
                var parentCategoryId = $(this).val();
                $.ajax({
                    type: "GET",
                    url: '/Admin/Products/LoadChildCategories',
                    data: { parentCategoryId: parentCategoryId },
                    success: successFunc,
                    error: errorFunc
                });
                function successFunc(data) {
                    console.log(data);
                    var select = $("#childCategory");
                    select.empty();
                    $.each(data, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.value,
                            text: itemData.text
                        }));
                    });
                }
                function errorFunc() {
                    alert('error');
                }
            });
        });
    </script>
}